{% extends '::base.html.twig' %}

{% block side %}
    <div class="col-md-3 ">
        <div class="about-div">
            <h3>My profile</h3>
            <ul>
                <li><b>First name : </b>{{ user.firstName }}</li>
                <li><b>Last name : </b>{{ user.lastName }}</li>
                <li><b>Email : </b>{{ user.email }}</li>
                <li><b>Phone number : </b>{{ user.phoneNumber }}</li>
                <li><b>Address : </b>{{ user.address }}</li>
                <li><b>Website : </b>{{ user.website }}</li>
            </ul>

            <form action="{{ path("user_edit", {'id': user.id}) }}">
                <input type="submit" value="Edit" class="btn-default btn">
            </form>
            <hr/>

            <ul>
                <li><b>Username : </b>{{ user.username }}</li>
                <li><b>Password : </b><i>hidden</i></li>
            </ul>
            <form action="{{ path("user_edit_login", {'id': user.id}) }}">
                <input type="submit" value="Edit" class="btn-default btn">
            </form>
        </div>
    </div>
{% endblock %}
{% block content -%}
    <div id="logout">
        <form action="{{ path("logout") }}">
            <input type="submit" value="Logout" class="btn-danger btn">
        </form>
    </div>
    <h1>Address book</h1>

    {% if contacts.empty %}
        No contact to display
    {% else %}
        <table class="records_list">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Mail</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.firstName }}</td>
                    <td>{{ contact.lastName }}</td>
                    <td>{{ contact.email }}</td>
                    <td>
                        <form action="{{ path('user_show', {'id': contact.id}) }}">
                            <input type="submit" value="Show" class="btn-info btn">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <hr/>

    <form action="{{ path('contact_new') }}">
        <input type="submit" value="New contact" class="btn-primary btn">
    </form>
{% endblock %}
