{% extends '::base.html.twig' %}

{% block content -%}
    <h1>User list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Mail</th>
                <th>Phone number</th>
                <th>Address</th>
                <th>Website</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': contact.id }) }}">{{ contact.id }}</a></td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('user_show', { 'id': contact.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('user_edit', { 'id': contact.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('user_new') }}">
                Ajouter un contact
            </a>
        </li>
    </ul>
    {% endblock %}
