{% extends '::base.html.twig' %}

{% block side %}
    <div class="col-md-3 ">
        <div class="about-div text-center">
            <i class="fa fa-envelope-o fa-4x color-blue"></i>
            <h3>My profile</h3>
            <ul>
                <li><b>First name : </b>{{ user.firstName }}</li>
                <li><b>Last name : </b>{{ user.lastName }}</li>
                <li><b>Email : </b>{{ user.email }}</li>
                <li><b>Phone number : </b>{{ user.phoneNumber }}</li>
                <li><b>Address : </b>{{ user.address }}</li>
                <li><b>Website : </b>{{ user.website }}</li>
            </ul>
            <a href="{{ path("user_edit", {'id': user.id}) }}">Edit</a>
            <hr/>

            <ul>
                <li><b>Username : </b>{{ user.username }}</li>
                <li><b>Password : </b><i>hidden</i></li>
            </ul>
            <a href="{{ path("user_edit_login", {'id': user.id}) }}">Edit</a>
        </div>
    </div>
{% endblock %}
{% block content -%}
    <h1>Address book</h1>

    {% if contacts.empty %}
        No contact to display
    {% else %}
        <table class="records_list">
            <thead>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Mail</th>
                <th>Phone number</th>
                <th>Address</th>
                <th>Website</th>
            </tr>
            </thead>
            <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.firstName }}</td>
                    <td>{{ contact.lastName }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.phoneNumber }}</td>
                    <td>{{ contact.address }}</td>
                    <td>{{ contact.website }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <hr/>
    <a href="{{ path('user_new') }}">
        Ajouter un contact
    </a>
{% endblock %}
