{% extends '::base.html.twig' %}

{% block content -%}
    <h1>Contact {{ contact.fullName }}</h1>

    <ul>
        <li><b>First name : </b>{{ contact.firstName }}</li>
        <li><b>Last name : </b>{{ contact.lastName }}</li>
        <li><b>Email : </b>{{ contact.email }}</li>
        <li><b>Phone number : </b>{{ contact.phoneNumber }}</li>
        <li><b>Address : </b>{{ contact.address }}</li>
        <li><b>Website : </b>{{ contact.website }}</li>
    </ul>

    {{ form_start(delete_form) }}
    {{ form_widget(delete_form.submit, {'attr': {'class': 'btn-danger'}}) }}
    {{ form_end(delete_form) }}
    <hr/>
    <a href="{{ path('contacts') }}">
        Back to home page
    </a>
</ul>
{% endblock %}
